@import './src/app/app.variables.scss';

$ag-icons-path: '~ag-grid-community/src/styles/icons/';

@import '~ag-grid-community/src/styles/ag-grid.scss';
@import '~ag-grid-community/src/styles/ag-theme-balham.scss';

body {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.container {
	width: 80%;
	margin: auto;
}
